.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 92vmin;
  height: 92vmin;
  padding: 4vmin;
  background-color: green;
}

.pai {
  width: calc(100% / 14);
  height: calc(100% / 14 / 11 * 15);
  background-image: url('../../assets/images/pai.png');
  background-repeat: no-repeat;
  background-size: cover;
}
